{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<h1 align="center">Notes</h1>
<ul class="list-group list-group-flush" id="note">
    {% for note in user.notes %}
        <li class="list-group-item ">{{note.data}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="deleteNote({{ note.id }})">
                <span aria-hidden="true">&times;</span>
            </button>
        </li>
    {% endfor %}
    
</ul>
<form action="" method="POST">
    <textarea class="form-control" id="note" name="note" rows="4"></textarea>
    <br>
    <div align="center">
        <button type="submit" class="btn btn-primary">Add Note</button>
    </div>
</form>
{% endblock %}